---
title: About
nav: true
---

<section class="section">
  <header>
    <h2>Technologies</h2>
  </header>
  <ul>
    <li>Haskell</li>
  </ul>
</section>

<section class="section">
  <header>
    <h2>Experience</h2>
  </header>
  <ul class="list list--magazine">
    {% for item in site.data.about.experience %}
    <li>
      <div>{{ item.title }}</div>
      <div>
        <a href="{{ item.company.site }}">
          {{ item.company.name }}
        </a>
      </div>
      <div>{{ item.location }}</div>
      <div>{{ item.dates.from }}–{{ item.dates.to }}</div>
    </li>
    {% endfor %}
  </ul>
</section>

<section class="section">
  <header>
    <h2>Open source</h2>
  </header>
  <ul>
    <li>
      <a href="https://github.com/jpvillaisaza/licensor">
	Licensor: A license compatibility helper for Haskell
      </a>
    </li>
    <li>
      <a href="https://github.com/jpvillaisaza/mailchimp-haskell">
	Mailchimp: Haskell bindings for the MailChimp API
      </a>
    </li>
  </ul>
</section>

<section class="section">
  <header>
    <h2>Publications</h2>
  </header>
  <h3>Undergraduate project</h3>
  <ul>
    <li>
      <a href="https://github.com/jpvillaisaza/cain">
	Category Theory Applied to Functional Programming
      </a>
      <ul>
	<li>
	  Supervisor:
	  <a href="http://www1.eafit.edu.co/asr/">
	    Andrés Sicard Ramírez
	  </a>
	</li>
      </ul>
    </li>
  </ul>
</section>

<section class="section">
  <h2>Social Links</h2>
  <ul>
    {% for item in site.data.address %}
    <li>
      <a href="{{ item.url }}">
        {{ item.title }}
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
