---
---

<section class="section">
  <h2>Posts</h2>
  {% include posts.html posts=site.posts excerpt=true %}
  <p><a href="/feed.xml">Feed (Atom)</a></p>
</section>

<section class="section">
  <h2>Projects</h2>
  <ul>
    {% for project in site.data.projects %}
    {% if project.featured %}
    <li>
      <a href="{{ project.url }}">
        {{ project.title }}
      </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</section>

<section class="section">
  <h2>Contact</h2>
  <p>
    You can send me an email to jp at jpvillaisaza dot co.
  </p>
</section>
