---
layout: default
---

<p>
  Hi, I'm Juan!
</p>
<p>
  I'm a software developer from Colombia. I like functional
  programming and use Haskell most of the time. I've worked at Stack
  Builders since 2014.
</p>

<section>
  <h2>Posts</h2>
  <ul>
  {% assign posts = site.posts | sort: "date" %}
  {% for post in posts reversed %}
    <li>
      <div>
        <time datetime="{{ post.date | date: '%F' }}">
          {{ post.date | date: "%B %e, %Y" }}
        </time>
      </div>
      <a href="{{ post.url }}">{{ post.title }}</a>
      <p>
        {{ post.excerpt | strip_html }}
      </p>
    </li>
  {% endfor %}
  </ul>
  <section>
    <h3>Posts (External)</h3>
    <ul>
      {% assign posts = site.data.posts | sort: "date" %}
      {% for post in posts reversed %}
      <li>
        <p>
          <time datetime="{{ post.date | date: '%F' }}">
            {{ post.date | date: "%Y-%m-%d" }}
          </time>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </p>
      </li>
      {% endfor %}
    </ul>
  </section>
</section>
