---
title: Projects
nav: true
---

<section class="section">
  <h2>Projects</h2>
  <ul class="list">
    {% for project in site.data.projects %}
    <li>
      <a href="{{ project.url }}">
        {{ project.title }}
      </a> (<a href="{{ project.source }}">Code</a>)
      {% if project.languages %}
      <div>
        {{ project.languages | join: ", " }}
      </div>
      {% endif %}
      {% if project.description %}
      <p>
        {{ project.description }}
      </p>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</section>
