<form action="{{ site.pageclip.url }}" class="contact-form" method="post">
  <div>
    <div>
      <label for="name">Name</label>
      <input type="text" id="name" name="name">
    </div>
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required>
    </div>
    <div>
      <label for="subject">Subject</label>
      <input type="text" id="subject" name="subject" required>
    </div>
  </div>
  <div>
    <label for="message">Message</label>
    <textarea id="message" name="message" required rows="6"></textarea>
  </div>
  <div>
    <button type="submit" value="Send">
      Send
    </button>
  </div>
</form>
