{% assign posts = include.posts | sort: "date" | reverse %}
{% if posts.size > 0 %}
<ul class="list">
  {% for post in posts limit:include.limit %}
  <li>
    <a class="post-title" href="{{ post.url }}">
      {{ post.title }}
    </a>
    <div class="post-meta">
      <time datetime="{{ post.date | date: '%F' }}">
        {{ post.date | date: "%B %e, %Y" }}
      </time>
    </div>
    {% if post.excerpt %}
    <p class="post-excerpt">
      {{ post.excerpt | strip_html }}
    </p>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endif %}
