@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

$color-01: darkslategray;
$color-02: gray;
$color-03: #0e3232;

/* */

* {
  box-sizing: border-box;
}

body {
  font-family: Lora, serif;
  line-height: 1.5;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #ffffff;
    opacity: 0.8;
  }
  a {
    color: skyblue;
    opacity: 0.64;
  }
}

/* */

h1, h2, h3, h4 { margin: 0 }

h1 { font-size: 2.5em; }
h2 { font-size: 1.667em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.111em; }

/* */

code {
  color: $color-03;
  white-space: pre;
}

@media (prefers-color-scheme: dark) {
  code {
    color: white;
    opacity: 0.64;
  }
}

pre {
  border-top: thin solid $color-02;
  border-bottom: thin solid $color-02;
  padding: 4px 0;
  overflow: auto;
}

/* */

.site {
  margin: 0 auto;
  max-width: 640px;
}

header.site-header {
  padding: 1rem 0.5em;
  display: grid;
  grid-template-columns: 1fr;
  a {
    color: inherit;
    text-decoration: none;
  }
  h1 {
    text-align: center;
  }
}

nav.site-nav {
  text-align: center;
  ul {
    list-style: none;
    padding: 0;
    li {
      margin: 0 5px;
      display: inline-block;
      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}

@media (min-width: 512px) {
  header.site-header {
    grid-template-columns: 1fr 1fr;
    h1 {
      text-align: left;
    }
  }
  nav.site-nav {
    text-align: right;
  }
}

main {
  border-top: medium solid $color-01;
  border-bottom: medium solid $color-01;
  padding: 1em 0.5em;
}

footer.site-footer {
  padding: 2em 0;
  text-align: center;
  display: grid;
  align-items: center;
  grid-row-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "site-search"
    "site-footer-nav";
}

.site-footer-nav {
  grid-area: site-footer-nav;
  text-align: center;
}

.site-logo {
  grid-area: site-logo;
  text-align: center;
}

.site-search {
  grid-area: site-search;
  display: grid;
  place-items: center;
}

@media (min-width: 512px) {
  footer.site-footer {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "site-search site-footer-nav";
  }
  .site-footer-nav {
    text-align: right;
  }
  .site-search {
    place-items: center start;
  }
}

/* */

header.post-header {
  text-align: center;
}

nav.post-nav {
  display: flex;
  justify-content: space-between;
}

/* */

ul.posts {
  h3 {
    font-size: 18px;
  }
  li {
    .excerpt {
      margin-top: 0;
    }
  }
}

/* */

.meta {
  color: $color-01;
  font-size: 90%;
}

@media (prefers-color-scheme: dark) {
  .meta {
    color: white;
  }
}

/* */

.section {
  &--center {
    text-align: center;
  }
}

/* */

.list {
  display: grid;
  gap: 1em;
  &--magazine {
    grid-template-columns: 1fr;
    list-style-type: none;
    padding-left: 0;
  }
  &--cards {
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    padding-left: 0;
    li {
      border-radius: 3px;
      border: thin solid $color-02;
      min-height: 48px;
      display: grid;
      place-items: center;
    }
  }
}

@media (min-width: 512px) {
  .list {
    &--cards {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
