@import url("https://fonts.googleapis.com/css?family=Lora|Ubuntu+Mono");

/********************************************************************/

html {
}

body {
  font-family: Lora, serif;
  font-size: 1.063em;
  margin: 0;
}

code {
  color: #0e3232;
  font-family: "Ubuntu Mono", monospace;
  white-space: pre;
}

pre {
  overflow: auto;
}

h1 { font-size: 2.5em; }
h2 { font-size: 1.667em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.111em; }

header.site {
  border-top: 4px solid darkslategray;
  margin-bottom: 4px;
  text-align: center;

  a {
    color: inherit;
    text-decoration: none;
  }
}

nav {
  text-align: center;
  ul {
    list-style: none;
    padding: 0;
    li {
      display: inline-block;
      margin: 0 5px;
      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}

main {
  border-top: 1px solid darkslategray;
  border-bottom: 1px solid darkslategray;
  margin: auto;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  max-width: 600px;
}

footer.site {
  margin-top: 4px;
  padding-top: 20px;
  margin-bottom: 24px;
  text-align: center;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.posts {
  line-height: 2;
  list-style: none;
}

.about {
  text-align: center;
}

.post-title {
  text-align: center;
}

.post-meta {
  color: darkslategray;
  font-size: 90%;
  text-align: center;
}

.post-share {
  text-align: center;
}

.error {
  text-align: center;
}
