:root {
  --color-cafe-noir: #4b3621;
  --color-01: var(--color-cafe-noir);
  --color-02: gray;
  --color-03: #0e3232;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Bitter, serif;
  font-size: 1rem;
  margin: 0 auto;
  max-width: 70ch;
  line-height: 1.6;
  padding: 2ch;
}

/* */

h1 { margin: 0; font-size: 2.00rem; }
h2 { margin: 0; font-size: 1.50rem; }
h3 { margin: 0; font-size: 1.17rem; }
h4 { margin: 0; font-size: 1.00rem; }

/* */

code {
  color: var(--color-03);
  white-space: pre;
}

pre {
  border-top: thin solid var(--color-02);
  border-bottom: thin solid var(--color-02);
  padding: 4px 0;
  overflow: auto;
}

/* */

body > header {
  display: grid;
  grid-template-columns: 1fr;
  .site-title {
    text-align: center;
  }
}

body > header > nav {
  text-align: center;
  ul {
    list-style: none;
    padding: 0;
    li {
      margin: 0 5px;
      display: inline-block;
      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}

[aria-current="page"] {
  font-weight: bold;
  border-bottom: thin solid black;
}

main {
  border-top: medium solid var(--color-01);
  border-bottom: medium solid var(--color-01);
  padding-top: 1.5rem;
}

body > footer {
  padding-top: 2rem;
  text-align: center;
}

@media (min-width: 512px) {
  body > header {
    grid-template-columns: 1fr 1fr;
    .site-title {
      text-align: left;
    }
  }
  body > header > nav {
    text-align: right;
  }
}

.site-title {
  a {
    color: inherit;
    text-decoration: none;
  }
}

/* */

.post-header {
  text-align: center;
}

.post-nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.post-title {
  font-size: 1.125rem;
}

.post-excerpt {
  margin-top: 0;
}

.post-meta {
  color: var(--color-01);
  font-size: 90%;
}

/* */

.center {
  text-align: center;
}

/* */

.list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  list-style-type: none;
  padding-left: 0;
}

@media (prefers-color-scheme: dark) {
  a {
    color: skyblue;
  }

  .post-meta {
    color: white;
  }

  code {
    color: white;
    opacity: 0.64;
  }
}
