/********************************************************************/

* {
}

html {
}

body {
  font-family: Lora, serif;
}

/********************************************************************/

.header {
  text-align: center;
}

.header a {
  color: inherit;
  text-decoration: none;
}

/********************************************************************/

.content {
  margin: auto;
  width: 100%;
}

@media (min-width: 500px) {
  .content {
    max-width: 750px;
  }
}

/********************************************************************/

.footer {
  text-align: center;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

/********************************************************************/

.about {
  text-align: center;
}

/********************************************************************/

.post-meta {
  color: darkslategray;
}
