<!doctype html>

<html lang="en">

  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      {{ site.title }}
    </title>

    {% include links.html %}

  </head>

  <body>

    <header class="header">
      <h1>
        <a href="/">
          {{ site.title }}
        </a>
      </h1>
    </header>

    <div class="container">
      {{ content }}
    </div>

    <footer class="footer">
      <address>
        <a href="https://www.facebook.com/jpvillaisaza" aria-label="Facebook">
          <i class="fa fa-facebook fa-2x fa-fw" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/jpvillaisaza" aria-label="GitHub">
          <i class="fa fa-github fa-2x fa-fw" aria-hidden="true"></i>
        </a>
        <a href="https://www.instagram.com/jpvillaisaza" aria-label="Instagram">
          <i class="fa fa-instagram fa-2x fa-fw" aria-hidden="true"></i>
        </a>
        <a href="https://twitter.com/jpvillaisaza" aria-label="Twitter">
          <i class="fa fa-twitter fa-2x fa-fw" aria-hidden="true"></i>
        </a>
      </address>
    </footer>

    {% include scripts.html %}

  </body>

</html>
